<div class="background">  
    <div class="navbar navbar-expand-lg navbarbackground">
      <div class="container">
        <div class="navbar-brand">
          Welcome to Gradi Weather Forecast
        </div>
      </div>
    </div> 
  <div class="container">    
    <div class="card ">
      <div class="card bg-dark text-white m-2 cardbogotacurrent">
        <img src="../assets/img/city-4457801_1920.jpg" class="card-img-top backgroundcardbog" alt="..." > 
        <div class="card-img-overlay">
          <h3 class="card-title">BOGOTÁ</h3>
          <img src={{bogIconUrl}} style="width: 100px;" alt="...">
          <h5 class="card-text">{{bogOneCallResponse.current.weather[0].description.toUpperCase()}}</h5>
          <p class="card-text" >{{bogOneCallResponse.current.dt.toString().split(' ')[0]}}</p> 
          <p class="card-text" >{{bogOneCallResponse.current.temp}} °C</p>  
        </div>
      </div>
      <div class="row m-2">
        <div class="col-lg-8">
          <div class="card text-center">     
            <div class="card-body">
              <h5 class="card-title m-2">3 days forecast</h5>        
              <div class="card-deck">
                <div class="card">
                  <div class="card-header">
                    <img src={{bogIcon1Url}} class="card-img-top forecasticons" alt="...">
                  </div>              
                  <div class="card-body">
                    <h4 class="card-title">{{bogOneCallResponse.daily[1].dt.toString().split(' ')[0]}}</h4>    
                    <h5 class="card-text">{{bogOneCallResponse.daily[1].weather[0].description.toUpperCase()}}</h5>           
                    <p class="card-text"><small class="text-muted">{{bogOneCallResponse.daily[1].temp.max}} / {{bogOneCallResponse.daily[1].temp.min}}</small></p>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <img src={{bogIcon2Url}} class="card-img-top forecasticons" alt="...">
                  </div> 
                  <div class="card-body">
                    <h4 class="card-title">{{bogOneCallResponse.daily[2].dt.toString().split(' ')[0]}}</h4>     
                    <h5 class="card-text">{{bogOneCallResponse.daily[2].weather[0].description.toUpperCase()}}</h5>            
                    <p class="card-text"><small class="text-muted">{{bogOneCallResponse.daily[2].temp.max}} / {{bogOneCallResponse.daily[2].temp.min}}</small></p>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <img src={{bogIcon3Url}} class="card-img-top forecasticons" alt="...">
                  </div> 
                  <div class="card-body">
                    <h4 class="card-title">{{bogOneCallResponse.daily[3].dt.toString().split(' ')[0]}}</h4>   
                    <h5 class="card-text">{{bogOneCallResponse.daily[3].weather[0].description.toUpperCase()}}</h5>               
                    <p class="card-text "><small class="text-muted">{{bogOneCallResponse.daily[3].temp.max}} / {{bogOneCallResponse.daily[3].temp.min}}</small></p>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>

        <div class="col-lg-4 ">
          <div class="card bg-dark text-white cardpariscurrent" >
            <img src="../assets/img/paris-1789706_1920.jpg" class="card-img-top backgroundcardparis" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">PARIS</h5>
              <img src={{parisIconUrl}} style="width: 100px;" alt="...">
              <h5 class="card-text">{{parisOneCallResponse.current.weather[0].description.toUpperCase()}}</h5>
              <p class="card-text" >{{parisOneCallResponse.current.dt.toString().split(' ')[0]}}</p> 
              <p class="card-text" >{{parisOneCallResponse.current.temp}} °C</p>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>