.background {
    background-image: url('../assets/img/background-1974516_1920.jpg');
    background-size: cover;
}

.navbarbackground {
    background-color: #51f0a0;
}


.cardbogotacurrent {
    max-height: 28rem; 
    min-height: 15rem;
    .backgroundcardbog {
        max-height: inherit; 
        min-height: inherit; 
        background-repeat: absolute;
    }
}

.cardpariscurrent {
    max-height: 30rem; 
    min-height: 21.3rem;
    .backgroundcardparis {
        max-height: inherit; 
        min-height: inherit; 
        background-repeat: absolute;
    }
}

.forecasticons {
    width: 80px;
}

.bigIcons {
    width: 115px;
}

.pcapitalized {
    text-transform: capitalize;
}


